@model Exam1_7.Models.User

@{
    ViewBag.Title = "GetUser";
}
<h2>GetUser</h2>

<div>
    <p><strong>User ID:</strong> @Model.UserID</p>
    <p><strong>Username:</strong> @Model.UserName</p>
    <p><strong>Password:</strong> @Model.UserPwd</p>
    <p><strong>Power Level:</strong> @Model.UserPower</p>
    <p><strong>Class:</strong> @Model.Classname</p>
    <p><strong>Email:</strong> @Model.UserEmail</p>
</div>